<ul class="allMovies">
  <li *ngFor="let movie of moviesInCart" class="movieWrapper">
    <img src="{{ movie.imageUrl }}" alt="" class="movieImg" />
    <h4 class="movieTitle">{{ movie.name }}</h4>
    <p>{{ movie.price }} kr</p>
    <p>Antal: {{ movie.amount }}</p>
    <button (click)="removeFromCart(movie.id)">Ta bort från kundvagn</button>
  </li>
</ul>

<p>Summa: {{ totalSum }} kr</p>

<form (ngSubmit)="createOrder(f)" #f="ngForm" class="cartForm">
  <h3>Checka ut</h3>
  <input
    type="text"
    placeholder="Ditt förnamn..."
    name="firstName"
    id="firstName"
    class="form-control"
    required
    ngModel
  />
  <input
    type="text"
    placeholder="Ditt efternamn..."
    name="lastName"
    id="lastName"
    class="form-control"
    required
    ngModel
  />
  <select name="paymentMethod" ngModel>
    <option value="" disabled selected>Välj betalningsmetod...</option>
    <option value="swish">Swish</option>
    <option value="creditCard">Kreditkort</option>
    <option value="klarna">Klarna</option>
  </select>
  <button type="submit">Skicka Order</button>
</form>
