<h1>Alla ordrar</h1>

<div *ngFor="let order of orders" class="order">
  <h3>Order-ID: {{ order.id }}</h3>
  <p>Kund: {{ order.createdBy }}</p>
  <p>Beställningstid: {{ order.created }}</p>
  <p>Betalningsmetod: {{ order.paymentMethod }}</p>
  <p>Beställda filmer:</p>
  <ul>
    <li *ngFor="let row of order.orderRows">
      {{ row.name }}, Antal: {{ row.amount }}, Produkt-ID: {{ row.productId }}
    </li>
  </ul>
  <p>Summa: {{ order.totalPrice }} kr</p>
  <button (click)="deleteOrder(order.id)">Radera order</button>
</div>
