/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  background-color: black;
  color: white;
  margin-bottom: 100px;
  padding: 10px;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
  }

  li {
    margin-left: 70px;
    margin-right: 30px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: white;
    }
  }
}

.order {
  border-bottom: 1px black solid;
}

.buy {
  display: block;
  margin-top: 10px;
}

.movieImg {
  width: 100%;
}

.movieWrapper {
  margin: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.movieTitle {
  font-weight: 300;
  margin: 0px;
  margin-top: 20px;
}

.allMovies {
  display: flex;
  flex-wrap: wrap;
}

.cartForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input,
select,
button {
  padding: 15px;
  margin-bottom: 10px;
}
